.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: auto;
  /* background-color: #282c34; */
  background: hsla(205, 46%, 30%, 1);

  background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#295270", endColorstr="#524175", GradientType=1);
}

h1 {
  color: bisque;
  text-transform: uppercase;
  margin: 20px 0px;
}

label {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.table_container {
  max-width: 100%;
  overflow-x: auto;
  padding: 0px 20px;


}

table {



  background: rgba(237, 239, 244, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

}

tr th {
  padding: 10px 60px;
  margin: 10px 13px;
  border: 1px solid black;
}

th {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

td {


  padding: 10px 10px;
  border: 1px solid black;
}